* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-bottom: 50px;
    background-color: #222;
  }

span{
    color: #1DBF73;
    font-size: 40px;
  }

.logo{
    font-size: 50px;
}
.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width:649px){
  .nav .container .nav-options{
    display: none;
  }
 .fa-solid{
    display: flex;
    color: rgba(255, 255, 255, 0.226);
    font-size: 2rem;
  }
}

@media  screen and (min-width:650px){
  .fa-solid{
    display: none;
  }

}
@media  screen and (min-width:650px) {  
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
}
}
 .container{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4rem;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav a:hover {
  color: #1DBF73;
  font-weight: bold;
}

.hero {
    background-image: url('https://images.pexels.com/photos/14033186/pexels-photo-14033186.jpeg?cs=srgb&dl=pexels-obi-onyeador-14033186.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
  }
  
  
  .hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
  }
  
  .hero p {
    font-size: 30px;
    letter-spacing: 1px;
  }
  
  .content h2,
  .content h3 {
    font-size: 150%;
    margin: 20px 0;
    color: whitesmoke;
  }
  
  .content p {
    color: grey;
    line-height: 30px;
    letter-spacing: 1.2px;
  }