* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background-color: #222;
}




/* Header of the site */


.logo {
  font-size: 50px;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav a:hover {
  color: #1DBF73;
  font-weight: bold;
}




/* Cover Photo Part*/


.hero,
.hero-product {
  background-image: url('https://images.pexels.com/photos/11279904/pexels-photo-11279904.jpeg?cs=srgb&dl=pexels-roger-brown-11279904.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}


.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}




/* For Responsiveness*/


@media screen and (max-width:649px) {
  .nav .container .nav-options {
    display: none;
  }

  span {
    color: #4858b1;
    font-size: 40px;
  }

  .fa-bars {
    display: flex;
    color: rgba(255, 255, 255, 0.226);
    font-size: 2rem;
  }

  .hero p {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #13ec87;
  }

  .About .About-head h1,
  .About .About-head h2 {
    padding: 10px 20px;
  }
}

@media screen and (min-width:650px) {
  .fa-bars {
    display: none;
  }

  span {
    color: #1DBF73;
    font-size: 40px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hero p {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .About .About-head h1,
  .About .About-head h2 {
    text-align: center;
    padding: 40px 60px 10px 60px;
  }
}




/* About part*/


.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 4rem;
}

.About {
  margin: 20px 0;
  padding: 40px 60px;
  color: whitesmoke;
}

.About-head #About-head {
  text-decoration: underline;
  color: #1DBF73;
}




/* About Reasons Part*/


.content h2,
.content h3,
.grid-container .products h1 {
  font-size: 150%;
  margin: 20px 0;
  color: whitesmoke;
}

.content p,
.grid-container .products p {
  color: grey;
  line-height: 30px;
  letter-spacing: 1.2px;
}




/* Services Part*/


.services {
  padding: 40px 20px;
}


.services-head h1 {
  color: whitesmoke;
  text-align: center;
}

.services .grid-container {
  padding: 40px 0;
}

.services a,
.services .fa-arrow-right {
  font-size: large;
  color: #4858b1;
}




/* Contact Page*/


.contact-head {
  text-align: center;
  color: white;
}



.contact-text {
  text-align: center;
  font-size: larger;
  font-style: italic;
  color: rgb(17, 155, 79);
}

.contact-form-texts {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 3px;
  font-size: larger;
  font-style: italic;
  color: #1DBF73;
}

.contact-form-texts #contact-options {
  margin-top: 10px;
}

.contact-form {
  text-align: center;
  padding-bottom: 20px;
}


#fname,
#email,
#subject {
  padding: 10px;
  border-radius: 12px;
  border-style: double;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 70%;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  height: 100px;
}

.button {
  border-radius: 12px;
  border-style: double;
  background: rgb(98, 98, 168);
  width: 20%;
  height: 40px;
  flex: auto;
  border-color: rgb(246, 248, 250);
}





/* Footer Section*/


.container-lastsection {
  text-align: center;
  background-color: grey;
  margin: 20px 0;
  padding: 30px 0;
  letter-spacing: 10px;
  border-radius: 12px;
}




/* Products Cover */


.hero-product {
  background-image: url('https://images.pexels.com/photos/8370752/pexels-photo-8370752.jpeg?cs=srgb&dl=pexels-rodnae-productions-8370752.jpg&fm=jpg');
}